absl-py==1.0.0
biopython==1.81
dm-tree
immutabledict
ml-collections
numpy==1.26.4
pandas
setuptools
tensorflow-cpu==2.18.1
mock
tabulate 
msgpack
chex
dm-haiku
scipy==1.11.4
flax==0.9.0
ml-dtypes==0.4.0
Cython
